
CloudflareDNSUpdater.xcodeproj/project.xcworkspace/xcuserdata/blanka.xcuserdatad/UserInterfaceState.xcuserstate
.DS_Store
CloudflareDNSUpdater.xcodeproj/project.xcworkspace/xcuserdata/blanka.xcuserdatad/UserInterfaceState.xcuserstate
